.modal {
  position: fixed;
  top: 20vh;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  max-width: 80%;
  box-shadow: 0 2px 8px rgb(10, 8, 8);
  background-color: #fff;
}

.modal__header {
  padding: 1rem;
  background-color: rgb(29, 171, 190);
  color: #fff;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal__content {
  padding: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
